<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />



	<script src="http://localhost:3000/socket.io/socket.io.js"></script>

	<link rel="stylesheet" href="index.css" />




	<title>Chit-Chat</title>
</head>

<body>
	<nav class="banner">
		<img class="title" src="icon.png" alt="Icon" />


	</nav>
	<div id="messageSection"></div>
	<div class="sendMessage">
		<form id="sendMsg">
			<div id="textArea">
				<textarea type="text" id="messageInput" cols="70" rows="1" placeholder=" write a message..."></textarea>
			</div>
			<div id="send">
				<button type="submit" id="sendButton">
					<img id="sendImg" src="sendmsg.png" alt="send">
				</button>
			</div>


		</form>
	</div>





	<script src="client.js"></script>
</body>

</html>