* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    padding: 0;
    max-width: 80%;
    margin: auto;
    margin-bottom: 2px;
    background-color: lightskyblue;

}

.title {
    display: block;
    margin: auto;
    align-self: center;
    width: auto;
    height: 45px;
}





#messageSection {
    background-image: url('background.jpg');
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 80%;
    margin: auto;
    height: 86vh;
    overflow-y: auto;
}


.message {
    font-size: 25px;
    max-width: 58%;
    width: auto;
    padding: 5px;
    margin: 17px 12px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    overflow-wrap: break-word;
}



.right {
    background-color: rgb(111, 156, 240);
    float: right;
    clear: both;
}

.left {
    background-color: darkgray;
    float: left;
    clear: both;
}

#sendMsg {

    background-image: url('background.jpg');
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    max-width: 80%;
    margin: auto;
    width: 100%;
}

#textArea {
    width: 90%;
    height: 100%;

}

#messageInput {

    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    height: 35px;
    font-size: 20px;
    margin: 0px 10px;

}





#send {
    width: 15%;
    margin-left: 2px;
    align-items: center;
    height: 35px;
    display: flex;
}

#sendButton {
    width: 100%;
    height: 100%;
    object-fit: fill;
    align-items: left;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    display: grid;
    align-items: left;
    cursor: pointer;
    background-image: url('background.jpg');
    margin: 0px 10px;
}

#sendImg {
    overflow: hidden;
    object-fit: contain;
    align-self: center;

    width: 120%;
    height: 120%;
}